@font-face {
    font-family: apple;
    src: url(./sf-pro-display_semibold.woff2);
}
@font-face {
    font-family: apple-light;
    src: url(./sf-pro-display_regular.woff2);
}
@font-face {
    font-family: apple-medium;
    src: url(./sf-pro-text_medium.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple-medium;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
}

nav{
    height: 60px;
    width: 100%;
    background-color: rgba(28, 28, 28, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: sticky;
    top: 0;
}

nav h4{
    color: white;
    font-family: apple-light;
}

main{
    height: 80%;
    width: 100%;
    background-color: black;
    background-image: url(./hero_);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
main h1,h5{
    color: white;
}

main h1{
    margin-top: 30px;
    font-size: 60px;
}

main h5{
    font-size: 40px;
}

.btn{
    display: flex;
    gap: 20px;
    padding: 20px;
}
#first{
    background-color: rgb(5, 96, 215);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
}

#second{
    background-color: transparent;
    color: rgb(5, 96, 215);
    font-size: 16px;
    padding: 10px 30px;
    border: 2px solid rgb(5, 96, 215);
    border-radius: 50px;
}

.gap{
    height: 10px;
    width: 100%;
    background-color: white;
    border: none;
}

.pro{
    height: 70%;
    width: 100%;
    background-color: #f5f5f7;
    background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_large.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro h1{
    margin-top: 20px;
    color: black;
    font-size: 60px;
    font-family: apple;
}
.pro #one{
    margin-top: 10px;
    color: black;
    font-size: 25px;
    font-family: apple-light;
}
.pro #two{
    margin-top: 10px;
    color: black;
    font-size: 25px;
    font-family: apple-light;
}
.pro .btn{
    margin-top: 5px;
}