* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 100px;
    font-weight: 800;
    color: transparent;
    font-family: sans-serif;
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWN1b3BwYXNuaHlsZnBvM2p0bmFudWp4empjNXh0ODJvbjh2ZnBmZyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/lYgsRPkt16EL5U2fvR/giphy.webp);
    background-clip: text;
}