*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

header{
    height: 30%;
    background-color:#1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

header>h1{
    font-size: 40px;
    font-family:sans-serif;
    color: white;
}

.occupation{
    color: white;
    font-size: large;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container1{
    background-color: whitesmoke;
    height: 220px;
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.container1>h2{
    font-size: 35px;
    font-family: sans-serif;
}

.container1>p{
    text-align: center;
    font-size: large;
}

.container2{
    background-color: rgba(75, 168, 250, 0.423);
    height: 250px;
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.container2>h2{
    font-size: 30px;
    font-family: sans-serif;
}

.box1{
    text-align: center;
    width: 1000px;
    height: 40px;
    margin-left: 100px;
    background-color: whitesmoke;
}
.box1>p{
    margin-top: 10px;
    font-size: larger;
    font-weight: 400;
}

.box2{
    text-align: center;
    width: 1000px;
    height: 40px;
    margin-left: 100px;
    background-color: whitesmoke;
    
}
.box2>p{
    margin-top: 10px;
    font-size: larger;
    font-weight: 400;
}

.container3{
    background-color: rgba(255, 245, 104, 0.656);
    height: 350px;
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.container3 h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
}
.container3 p{
    font-weight: 600;
    font-family: sans-serif;
}
.container4{
    background-color: rgba(205, 106, 255, 0.582);
    height: 350px;
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-align: center;
}
.container4 h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
}
.container4 P{
    font-weight: 400;
    font-family: sans-serif;
    font-style: italic;
}


.container5{
    background-color: rgba(156, 255, 220, 0.551);
    height: 270px;
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.container5 h2{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 30px;
}
.container5 p{
    font-weight: 400;
    font-family: sans-serif;
}

footer{
    height: 100px;
    background-color: #1e293b;
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
}